.header{
    font-size: 30px;
    font-family: italic;
}

.search-tab{
    font-size: 30px;
}
.content-wrap{
    width: 1000px;
    height: 600px;
    text-align: left;
    margin-top: 10px;
    display: inline-block;
}

.border-header{
    height: 30px;
    width: 300px;
    text-align: left;
    padding-top: 15px;
    padding-left:10px;
    display: inline-block;
    border: 1px solid black;
    margin: -0.5px;
}
.border-body{
    height: 50px;
    width: 300px;
    text-align: left;
    padding-top: 25px;
    padding-left: 10px;
    display: inline-block;
    border: 1px solid black;
    margin: -0.5px;
    margin-top: -2.5px;
}

.red{
    color:red;
}

.blue{
    color:blue;
}
.chartreuse{
    color:chartreuse
}